<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flight Route Optimizer App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='input.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet">
</head>
<body>
    <h1>Flight Route Optimizer</h1>
    <form action="/calculate" method="post" id="form">
        <label for="departure">Departure Airport:</label>
        <select id="departure" name="departure" class="form-control select2"><option></option></select>

        <label for="destination">Destination Airport:</label>
        <select id="destination" name="destination" class="form-control select2"><option></option></select>

        <label for="aircraft">Aircraft Type</label>
        <select name="aircraft" id="aircraft" class="form-control select2">
            <option></option>
        <optgroup label="Airbus">
            <<option value="Airbus A300">Airbus A300</option>
            <option value="Airbus A300-600">Airbus A300-600</option>
            <option value="Airbus A300-600ST Super Transporter / Beluga">Airbus A300-600ST Super Transporter / Beluga</option>
            <option value="Airbus A310">Airbus A310</option>
            <option value="Airbus A318">Airbus A318</option>
            <option value="Airbus A319">Airbus A319</option>
            <option value="Airbus A319neo">Airbus A319neo</option>
            <option value="Airbus A320">Airbus A320</option>
            <option value="Airbus A320neo">Airbus A320neo</option>
            <option value="Airbus A321">Airbus A321</option>
            <option value="Airbus A321neo">Airbus A321neo</option>
            <option value="Airbus A330">Airbus A330</option>
            <option value="Airbus A330-200">Airbus A330-200</option>
            <option value="Airbus A330-300">Airbus A330-300</option>
            <option value="Airbus A330-700 Beluga XL">Airbus A330-700 Beluga XL</option>
            <option value="Airbus A330-800neo">Airbus A330-800neo</option>
            <option value="Airbus A330-900neo">Airbus A330-900neo</option>
            <option value="Airbus A340">Airbus A340</option>
            <option value="Airbus A340-200">Airbus A340-200</option>
            <option value="Airbus A340-300">Airbus A340-300</option>
            <option value="Airbus A340-500">Airbus A340-500</option>
            <option value="Airbus A340-600">Airbus A340-600</option>
            <option value="Airbus A350">Airbus A350</option>
            <option value="Airbus A350-1000">Airbus A350-1000</option>
            <option value="Airbus A350-900">Airbus A350-900</option>
            <option value="Airbus A380">Airbus A380</option>
            <option value="Airbus A380-800">Airbus A380-800</option>
        </optgroup>
        <optgroup label="Boeing">
            <option value="Boeing 707">Boeing 707</option>
            <option value="Boeing 717">Boeing 717</option>
            <option value="Boeing 720B">Boeing 720B</option>
            <option value="Boeing 727">Boeing 727</option>
            <option value="Boeing 727-100">Boeing 727-100</option>
            <option value="Boeing 727-200">Boeing 727-200</option>
            <option value="Boeing 737">Boeing 737</option>
            <option value="Boeing 737 MAX 10">Boeing 737 MAX 10</option>
            <option value="Boeing 737 MAX 7">Boeing 737 MAX 7</option>
            <option value="Boeing 737 MAX 8">Boeing 737 MAX 8</option>
            <option value="Boeing 737 MAX 9">Boeing 737 MAX 9</option>
            <option value="Boeing 737-200">Boeing 737-200</option>
            <option value="Boeing 737-300">Boeing 737-300</option>
            <option value="Boeing 737-400">Boeing 737-400</option>
            <option value="Boeing 737-500">Boeing 737-500</option>
            <option value="Boeing 737-600">Boeing 737-600</option>
            <option value="Boeing 737-700">Boeing 737-700</option>
            <option value="Boeing 737-800">Boeing 737-800</option>
            <option value="Boeing 737-900">Boeing 737-900</option>
            <option value="Boeing 747">Boeing 747</option>
            <option value="Boeing 747 LCF Dreamlifter">Boeing 747 LCF Dreamlifter</option>
            <option value="Boeing 747-100">Boeing 747-100</option>
            <option value="Boeing 747-200">Boeing 747-200</option>
            <option value="Boeing 747-300">Boeing 747-300</option>
            <option value="Boeing 747-400">Boeing 747-400</option>
            <option value="Boeing 747-400D">Boeing 747-400D</option>
            <option value="Boeing 747-8">Boeing 747-8</option>
            <option value="Boeing 747SP">Boeing 747SP</option>
            <option value="Boeing 747SR">Boeing 747SR</option>
            <option value="Boeing 757">Boeing 757</option>
            <option value="Boeing 757-200">Boeing 757-200</option>
            <option value="Boeing 757-300">Boeing 757-300</option>
            <option value="Boeing 767">Boeing 767</option>
            <option value="Boeing 767-200">Boeing 767-200</option>
            <option value="Boeing 767-300">Boeing 767-300</option>
            <option value="Boeing 767-400">Boeing 767-400</option>
            <option value="Boeing 777">Boeing 777</option>
            <option value="Boeing 777-200">Boeing 777-200</option>
            <option value="Boeing 777-200LR">Boeing 777-200LR</option>
            <option value="Boeing 777-300">Boeing 777-300</option>
            <option value="Boeing 777-300ER">Boeing 777-300ER</option>
            <option value="Boeing 777-8">Boeing 777-8</option>
            <option value="Boeing 777-9">Boeing 777-9</option>
            <option value="Boeing 787">Boeing 787</option>
            <option value="Boeing 787-10">Boeing 787-10</option>
            <option value="Boeing 787-8">Boeing 787-8</option>
            <option value="Boeing 787-9">Boeing 787-9</option>
        </optgroup>
        <optgroup label="ATR">
            <option value="Aerospatiale/Alenia ATR 42-300">Aerospatiale/Alenia ATR 42-300</option>
            <option value="Aerospatiale/Alenia ATR 42-500">Aerospatiale/Alenia ATR 42-500</option>
            <option value="Aerospatiale/Alenia ATR 42-600">Aerospatiale/Alenia ATR 42-600</option>
            <option value="Aerospatiale/Alenia ATR 72">Aerospatiale/Alenia ATR 72</option>
        </optgroup>
        <optgroup label="Antonov">
            <option value="Antonov AN-12">Antonov AN-12</option>
            <option value="Antonov AN-124 Ruslan">Antonov AN-124 Ruslan</option>
            <option value="Antonov AN-140">Antonov AN-140</option>
            <option value="Antonov An-148">Antonov An-148</option>
            <option value="Antonov An-158">Antonov An-158</option>
            <option value="Antonov An-225 Mriya">Antonov An-225 Mriya</option>
            <option value="Antonov AN-24">Antonov AN-24</option>
            <option value="Antonov AN-26">Antonov AN-26</option>
            <option value="Antonov AN-28">Antonov AN-28</option>
            <option value="Antonov AN-30">Antonov AN-30</option>
            <option value="Antonov AN-32">Antonov AN-32</option>
            <option value="Antonov AN-72">Antonov AN-72</option>
        </optgroup>
        <optgroup label="Beechcraft">
            <option value="Beechcraft 1900">Beechcraft 1900</option>
            <option value="Beechcraft Baron">Beechcraft Baron</option>
            <option value="Beechcraft Baron / 55 Baron">Beechcraft Baron / 55 Baron</option>
        </optgroup>
        <optgroup label="Bombardier">
            <option value="Bombardier 415">Bombardier 415</option>
            <option value="Bombardier BD-100 Challenger 300">Bombardier BD-100 Challenger 300</option>
            <option value="Bombardier CS100">Bombardier CS100</option>
            <option value="Bombardier CS300">Bombardier CS300</option>
            <option value="Bombardier Global Express">Bombardier Global Express</option>
        </optgroup>
        <optgroup label="Canadair">
            <option value="Canadair Challenger">Canadair Challenger</option>
            <option value="Canadair CL-44">Canadair CL-44</option>
            <option value="Canadair Regional Jet 100">Canadair Regional Jet 100</option>
            <option value="Canadair Regional Jet 1000">Canadair Regional Jet 1000</option>
            <option value="Canadair Regional Jet 200">Canadair Regional Jet 200</option>
            <option value="Canadair Regional Jet 700">Canadair Regional Jet 700</option>
            <option value="Canadair Regional Jet 900">Canadair Regional Jet 900</option>
        </optgroup>
        <optgroup label="Cessna">
            <option value="Cessna 152">Cessna 152</option>
            <option value="Cessna 172">Cessna 172</option>
            <option value="Cessna 182 Skylane">Cessna 182 Skylane</option>
            <option value="Cessna 208 Caravan">Cessna 208 Caravan</option>
            <option value="Cessna 210 Centurion">Cessna 210 Centurion</option>
            <option value="Cessna Citation CJ3">Cessna Citation CJ3</option>
            <option value="Cessna Citation CJ4">Cessna Citation CJ4</option>
            <option value="Cessna Citation Excel">Cessna Citation Excel</option>
            <option value="Cessna Citation I">Cessna Citation I</option>
            <option value="Cessna Citation II">Cessna Citation II</option>
            <option value="Cessna Citation Mustang">Cessna Citation Mustang</option>
            <option value="Cessna Citation Sovereign">Cessna Citation Sovereign</option>
            <option value="Cessna Citation X">Cessna Citation X</option>
        </optgroup>
        <optgroup label="De Havilland">
            <option value="De Havilland Canada DHC-2 Beaver">De Havilland Canada DHC-2 Beaver</option>
            <option value="De Havilland Canada DHC-2 Turbo-Beaver">De Havilland Canada DHC-2 Turbo-Beaver</option>
            <option value="De Havilland Canada DHC-3 Otter">De Havilland Canada DHC-3 Otter</option>
            <option value="De Havilland Canada DHC-4 Caribou">De Havilland Canada DHC-4 Caribou</option>
            <option value="De Havilland Canada DHC-6 Twin Otter">De Havilland Canada DHC-6 Twin Otter</option>
            <option value="De Havilland Canada DHC-7 Dash 7">De Havilland Canada DHC-7 Dash 7</option>
            <option value="De Havilland Canada DHC-8-100 Dash 8 / 8Q">De Havilland Canada DHC-8-100 Dash 8 / 8Q</option>
            <option value="De Havilland Canada DHC-8-200 Dash 8 / 8Q">De Havilland Canada DHC-8-200 Dash 8 / 8Q</option>
            <option value="De Havilland Canada DHC-8-300 Dash 8">De Havilland Canada DHC-8-300 Dash 8</option>
            <option value="De Havilland Canada DHC-8-400 Dash 8Q">De Havilland Canada DHC-8-400 Dash 8Q</option>
            <option value="De Havilland DH.104 Dove">De Havilland DH.104 Dove</option>
            <option value="De Havilland DH.114 Heron">De Havilland DH.114 Heron</option>
        </optgroup>
        <optgroup label="Embraer">
            <option value="Embraer 170">Embraer 170</option>
            <option value="Embraer 175">Embraer 175</option>
            <option value="Embraer 175 (long wing)">Embraer 175 (long wing)</option>
            <option value="Embraer 175 (short wing)">Embraer 175 (short wing)</option>
            <option value="Embraer 190">Embraer 190</option>
            <option value="Embraer 195">Embraer 195</option>
            <option value="Embraer E190-E2">Embraer E190-E2</option>
            <option value="Embraer E195-E2">Embraer E195-E2</option>
            <option value="Embraer EMB 110 Bandeirante">Embraer EMB 110 Bandeirante</option>
            <option value="Embraer EMB 120 Brasilia">Embraer EMB 120 Brasilia</option>
            <option value="Embraer Legacy 450">Embraer Legacy 450</option>
            <option value="Embraer Legacy 600">Embraer Legacy 600</option>
            <option value="Embraer Phenom 100">Embraer Phenom 100</option>
            <option value="Embraer Phenom 300">Embraer Phenom 300</option>
            <option value="Embraer RJ135">Embraer RJ135</option>
            <option value="Embraer RJ140">Embraer RJ140</option>
            <option value="Embraer RJ145">Embraer RJ145</option>
        </optgroup>
        <optgroup label="Fokker">
            <option value="Fokker 100">Fokker 100</option>
            <option value="Fokker 50">Fokker 50</option>
            <option value="Fokker 70">Fokker 70</option>
        </optgroup>
        <optgroup label="Gulfstream">
            <option value="Gulfstream Aerospace G-159 Gulfstream I">Gulfstream Aerospace G-159 Gulfstream I</option>
            <option value="Gulfstream G280">Gulfstream G280</option>
            <option value="Gulfstream G650">Gulfstream G650</option>
            <option value="Gulfstream IV">Gulfstream IV</option>
            <option value="Gulfstream V">Gulfstream V</option>
            <option value="Gulfstream/Rockwell (Aero) Commander">Gulfstream/Rockwell (Aero) Commander</option>
            <option value="Gulfstream/Rockwell (Aero) Turbo Commander">Gulfstream/Rockwell (Aero) Turbo Commander</option>
        </optgroup>
        <optgroup label="Learjet">
            <option value="Learjet 35">Learjet 35</option>
            <option value="Learjet 60">Learjet 60</option>
        </optgroup>
        <optgroup label="Lockheed">
            <option value="Lockheed L-1011 Tristar">Lockheed L-1011 Tristar</option>
            <option value="Lockheed L-1049 Super Constellation">Lockheed L-1049 Super Constellation</option>
            <option value="Lockheed L-182 / 282 / 382 (L-100) Hercules">Lockheed L-182 / 282 / 382 (L-100) Hercules</option>
            <option value="Lockheed L-188 Electra">Lockheed L-188 Electra</option>
        </optgroup>
        <optgroup label="Piper">
            <option value="Piper PA-28(above 200hp)">Piper PA-28(above 200hp)</option>
            <option value="Piper PA-28(up to 180hp)">Piper PA-28(up to 180hp)</option>
            <option value="Piper PA-31 Navajo">Piper PA-31 Navajo</option>
            <option value="Piper PA-44 Seminole">Piper PA-44 Seminole</option>
            <option value="Piper PA-46">Piper PA-46</option>
        </optgroup>
        </select>

        <label for="algorithm">Select Algorithm: </label>
        <select name="algorithm" id="algorithm" class="form-control select2">
            <option value="">Select an algorithm..</option>
            <option value="Dijkstra">Dijkstra</option>
            <option value="A*">A*</option>
        </select>
        <br><br>
        <button type="submit">Find Optimal Route</button>
    </form>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script src="{{ url_for('static', filename='input.js') }}"></script>
</body>
</html>