<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flight Route Optimizer App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='input.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet">
</head>
<body>
    <h1>Flight Route Optimizer</h1>
    <form action="/calculate" method="post" id="form">
        <label for="departure">Departure Airport:</label>
        <select id="departure" name="departure" class="form-control select2"><option></option></select>

        <label for="destination">Destination Airport:</label>
        <select id="destination" name="destination" class="form-control select2"><option></option></select>

        <label for="aircraft">Aircraft Type</label>
        <select name="aircraft" id="aircraft" class="form-control select2">
            <option></option>
        <optgroup label="Airbus">
        <option value="A220-300">Airbus A220-300</option>
        </optgroup>
        <optgroup label="Boeing">
        <option value="B737-800">Boeing 737-800</option>
        </optgroup>
        <optgroup label="Embraer">
        <option value="E190">Embraer E190</option>
        </optgroup>
        <optgroup label="Bombardier">
        <option value="CRJ-200">Bombardier CRJ-200</option>
        <optgroup label="ATR">
        <option value="ATR 42-300">ATR 42-300</option>
        </optgroup>
        </select>

        <label for="algorithm">Select Algorithm: </label>
        <select name="algorithm" id="algorithm" class="form-control select2">
            <option value="">Select an algorithm..</option>
            <option value="Dijkstra">Dijkstra</option>
            <option value="A*">A*</option>
        </select>
        <br><br>
        <button type="submit">Find Optimal Route</button>
    </form>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script src="{{ url_for('static', filename='input.js') }}"></script>
</body>
</html>