<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flight Route Optimizer App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='output.css') }}">
</head>
<body>
    <h2>✈️Optimal Flight Route✈️</h2>

    <p><strong>Departure:</strong> {{ departure }}</p>
    <p><strong>Destination:</strong> {{ destination }}</p>
    <p><strong>Selected Aircraft:</strong> {{ aircraft }}</p>
    <p><strong>Algorithm Used:</strong> {{ algorithm }}</p>
    <hr>
    {% if path %}
        <p><strong>Shortest Distance:</strong> {{ cost }} km({{ cost_miles }} mi)</p>
    {% else %}
        <h3>No route found between {{ departure }} and {{ destination }}! 😔 </h3>
    {% endif %}

    <hr>

    {% if weather_along_route %}
        <h3>⛅ Weather At The Departure And Destination Airport ⛅</h3>
        <ul>
            {% for step in weather_along_route %}
                <li>
                    <h4>{{ step.airport }} ({{ step.icao }})</h4>

                    {% if step.weather %}
                        <p><strong>Time:</strong> {{ step.weather.metar_decoded.Time }}</p>
                        <p><strong>Temperature:</strong> {{ step.weather.metar_decoded.TD.temp }}°C</p>
                        <p><strong>Dew Point:</strong> {{ step.weather.metar_decoded.TD.dewpoint }}°C</p>
                        <p><strong>Wind:</strong> {{ step.weather.metar_decoded.Wind.direction }}° at {{ step.weather.metar_decoded.Wind.strength }} {{ step.weather.metar_decoded.Wind.unit }}</p>

                        <p><strong>Visibility:</strong>
                            {% for vis in step.weather.metar_decoded.Visibility %}
                                {{ vis.value }}{{ vis.units }} ({{ vis.dir }}){% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </p>

                        <p><strong>Clouds:</strong>
                            {% if step.weather.metar_decoded.Clouds %}
                                {% for cloud in step.weather.metar_decoded.Clouds %}
                                    {{ cloud.type }} {{ cloud.base }}{{ cloud.units }}{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            {% else %}
                                Clear skies
                            {% endif %}
                        </p>

                        <p><strong>QNH(Pressure):</strong> {{ step.weather.metar_decoded.QNH.value }} {{ step.weather.metar_decoded.QNH.type }}</p>

                    {% else %}
                        <p><em>No weather data available.</em></p>
                    {% endif %}
                </li>
                <hr>
            {% endfor %}
        </ul>
    {% else %}
        <h3>No weather data available along this route.</h3>
    {% endif %}

    <br><br>
    <a href="/">Try another route😏</a>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script src="{{ url_for('static', filename='output.js') }}"></script>
</body>
</html>